body {
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: #111;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

/* Colors */
.red-primary {
  color: #b31312;
}

/* Page titles */
.page-title {
  color: #b31312;
  font-family: "Righteous", sans-serif;
  font-size: xx-large;
  text-align: center;
}

.navigation {
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu__item {
  text-decoration: none;
  color: #faf9f6;
}
.menu__item:hover {
  color: #b31312;
}

.navigation__logo {
  font-weight: bolder;
  font-family: "Righteous", sans-serif;
}
.menu {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 15px;
  align-self: center;
}

.menu li {
  align-self: center;
}

.menu.active {
  display: flex;
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.bar {
  height: 8px;
  width: 100%;
  background-color: #b31312;
  border-radius: 5px;
}

/* **************************************** */

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage__photo {
  display: flex;
  justify-content: center;
}
.photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-family: "Righteous", sans-serif;
}

.description__name {
  font-weight: bolder;
}

.description p {
  font-weight: 100;
}

/* About me */

.aboutme__title {
  color: #b31312;
  font-family: "Righteous", sans-serif;
  font-size: xx-large;
}

.title-colors {
  text-decoration: underline;
  text-decoration-color: #b31312;
  font-family: "Nova Square", sans-serif;
}

.aboutme__photo {
  align-self: center;
}

#profile-image {
  width: 300px;
}

.aboutme {
  display: flex;
  flex-direction: column;
}

.aboutme__title {
  text-align: center;
}

.aboutme--description {
  line-height: 1.5;
}

.history__list {
  line-height: 1.5;
  list-style-type: none;
  padding-left: 1.5em;
}

.history__list--item:before {
  content: ">";
  font-weight: bolder;
  color: red;
  font-size: 12px;
  margin-left: -1.5em;
  margin-right: 2px;
  width: 1em;
  display: inline-block;
  text-align: center;
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio__pagetitle {
  align-self: center;
}

.portfolio__description {
  line-height: 1.5;
}
.portfolio-title {
  text-decoration: underline;
  text-decoration-color: #b31312;
  font-weight: bolder;
  font-family: "Nova Square", sans-serif;
}
.project {
  width: 350px;
}

.portfolio__image {
  width: 350px;
  margin: 0;
  align-self: center;
}
.portfolio__image img {
  height: 300px;
}

#current {
  font-style: italic;
}

/* Resume */

#resume img {
  width: 350px;
  height: 500px;
}

#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download-button--button_primary {
  color: #fff;
  text-decoration: none;
  height: 35px;
  border: 2px solid #b31312;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
  background-color: #111;
}

.download-button--button_primary:hover {
  background-color: #b31312;
}

/* Hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hobbies--img {
  width: 100%;
  height: 300px;
  margin: 0;
}

.hobbies__image {
  width: 350px;
  height: 300px;
  margin: 0;
  align-self: center;
}

.hobby_page__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies__description {
  text-wrap: wrap;
}

/* Contact */
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  width: 300px;
  height: 30px;
}
#email {
  width: 300px;
  height: 30px;
}
#message {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}

input,
textarea {
  background-color: #696969;
  color: #fff;
  border: none;
  border-style: none;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.send a {
  text-decoration: none;
  color: #fff;
}

.send {
  height: 30px;
  width: 100px;
  border: 2px solid #b31312;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send:hover {
  background-color: #b31312;
}

.socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.social a {
  text-decoration: none;
  color: white;
}

#phone {
  text-decoration: none;
}

#fb a {
  color: #b31312;
}

#ln a {
  color: #b31312;
}

#tg a {
  color: #b31312;
}

#x a {
  color: #b31312;
}
/* Styles on multiple devices */
/* On Bigger tablets , laptops and desktops */

@media screen and (min-width: 1279px) {
  /* Homepage */
  .page-title {
    color: #b31312;
    font-family: "Righteous", sans-serif;
    font-size: xx-large;
    text-align: start;
  }
  body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  .homepage {
    flex-direction: row;
    margin-top: 70px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .menu--color {
    color: #ccccca;
    font-weight: 100;
  }

  .navigation__logo {
    font-size: xx-large;
  }

  /* Aboutme */
  .navigation {
    position: sticky;
    top: 0;
    background: #111;
    margin-left: 0;
    padding-left: 20px;
  }
  .aboutme {
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .aboutme__title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .aboutme__photo {
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .aboutme--description {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .history {
    grid-column: 1/4;
    grid-row: 3/-1;
  }

  /* Portfolio */

  .portfolio-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px 150px 6fr;
    padding-left: 50px;
  }

  .portfolio__pagetitle {
    grid-column: 1/3;
  }

  .portfolio__description {
    grid-column: 1/3;
  }

  .portfolio__portfolios {
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    flex-wrap: wrap;
  }

  .portfolios__currently {
    grid-row: 2/3;
  }
  /* The portfolio card */
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Resume */

  .resume_page {
    align-items: flex-start;
    padding-left: 75px;
  }
  #resume {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
  }

  .download-button {
    margin: 0 15px 20px 0px;
  }

  /* Hobbies */
  .hobby_page {
    padding-left: 75px;
  }

  .hobbies_article__title {
    align-self: flex-start;
  }
  .hobbies {
    width: 30%;
    height: 450px;
  }
  .hobby_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hobby_page__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .hobbies__image {
    width: 100%;
  }

  .hobbies--img {
    width: 100%;
  }

  /* ContactMe page */

  .contactme {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-left: 75px;
  }

  .contactme__page-title {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .feedback {
    grid-row: 1/-1;
    grid-column: 3/-1;
    justify-content: flex-start;
  }

  .contact {
    grid-column: 1/3;
    grid-row: 2/-1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
  }

  .socials {
    display: flex;
    justify-content: flex-start;
  }
}

/* ############################################################################# */

/* Tablet version */
@media only screen and (max-width: 1278px) and (min-width: 691px) {
  /* Homepage */
  .page-title {
    color: #b31312;
    font-family: "Righteous", sans-serif;
    font-size: xx-large;
    text-align: start;
  }
  body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;

    background: #111;
    margin-left: 0;
    padding-left: 20px;
  }
  .homepage {
    flex-direction: row;
    margin-top: 70px;
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-self: center;
  }

  .menu--color {
    color: #ccccca;
    font-weight: 100;
  }

  .navigation__logo {
    font-size: xx-large;
  }

  /* Aboutme */

  .aboutme {
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .aboutme__title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .aboutme__photo {
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .aboutme--description {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .history {
    grid-column: 1/4;
    grid-row: 3/-1;
  }

  /* Portfolio */

  .portfolio-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px 150px 6fr;
    padding-left: 50px;
  }

  .portfolio__description {
    grid-column: 1/4;
    margin-bottom: 0;
  }

  .portfolio__portfolios {
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 10px;
  }

  .portfolios__currently {
    grid-row: 3/-1;
  }
  /* The portfolio card */
  .portfolio {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Resume */

  .resume_page {
    align-items: flex-start;
    padding-left: 75px;
  }
  #resume {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
  }

  .download-button {
    margin: 0 15px 20px 0px;
  }

  /* Hobbies */
  .hobby_page {
    padding-left: 30px;
  }

  .hobbies_article__title {
    align-self: flex-start;
  }
  .hobbies {
    width: 350px;
    height: 450px;
  }
  .hobby_page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hobby_page__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .hobbies__image {
    width: 100%;
  }

  .hobbies--img {
    width: 100%;
  }

  /* ContactMe page */

  .contactme {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-left: 75px;
  }

  .contactme__page-title {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .feedback {
    grid-row: 1/-1;
    grid-column: 4/-1;
    justify-content: flex-start;
  }

  .contact {
    grid-column: 1/4;
    grid-row: 2/-1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
  }

  .socials {
    display: flex;
    justify-content: flex-start;
  }
}
